/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* LAYOUT */
.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: 50%;
}

.col-25{
    width: 25%;
}

/* STILI GENERALI */






/* DEBUG */
.debug .container {
	border: 2px solid black;
}

.debug .box{
    background-color: aqua;
}

.debug .row {
	border: 2px solid red;
	padding: 20px;
}

.debug [class^='col'] {
	border: 2px solid cornflowerblue;
	padding: 20px;
	min-height: 50px;
}

.debug .text-right{
    text-align: right;
}

.debug .text-center{
    text-align: center;
}

.one-col,.two-col,.three-col{
    background-color: yellowgreen;
}